#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content{
  flex-grow: 1;
  padding: 0 10px;
}

ul{
  padding: 20px
}


.cabecalho{
  
  background-color: #282c34;
  padding: 20px;
  color: wheat;
  
}

.cabecalho h1{
  color: wheat;
  font-size: 2rem;
}

.lista-container{
  display: flex;
  
}

ul li{
  width: 100%;
  padding: 5px;
  border: #282c34 solid 1px;
  list-style: none;
  display: flex;
  align-items: center;
}

.lista-alunos:hover{
  
  font-size: 18px;
  cursor: pointer;
}


.rodape{
  background-color: #282c34;
  color: wheat;
  padding: 10px 0;
}